@use "../variables";
@use "../common";
@use "utils";
@use "ui_kit_icons";

@mixin animation() {
  transition:
    width 0.3s ease-in-out,
    min-width 0.3s ease-in-out,
    margin 0.3s ease-in-out,
    padding 0.3s ease-in-out,
    margin-left 0.3s ease-in-out,
    border-radius 0.3s ease-in-out,
    right 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-bottom 0.3s ease-in-out;
}

@mixin boxShadow() {
  box-shadow: 0 12px 24px 0 variables.$box-shadow;
}

.header_mod {
  display: block;
  position: absolute;
  left: 300px;
  top: 10px;
}

.menu {
  grid-area: nav;
  box-sizing: border-box;
  min-width: 86px;
  max-width: 240px;
  width: 86px; // удалить
  width: 240px;

  @include animation();

  &-close {
    width: 86px;
  }

  // &:hover {
  //   width: 86px;

  //   & .link_theme_blue {
  //     padding: 0;
  //     margin-left: 0;
  //     border-radius: 50px;
  //   }
  //   & .link__image_reverse {
  //     min-width: 24px;
  //     margin: 11px;
  //   }
  //   & .link__text_reverse {
  //     width: 0;
  //   }
  // }
}

.menu__items {
  margin: 16px;
  margin-right: 0;
  padding: 20px 12px;
  height: calc(100% - 40px);
  max-height: 868px;
  list-style-type: none;
  background-color: variables.$clr-gray;
  box-sizing: border-box;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.menu__item {
  margin-bottom: 8px;
  box-sizing: border-box;
  height: 46px;
  min-height: 46px;
  min-width: 46px;

  &_logo {
    margin: 0 0 28px 4px;
    min-height: 34px;
    background-image: url(../../images/logo.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 145px 34px;
    overflow: hidden;
  }

  &_bot {
    margin: 0 14px 48px 0;
  }
}

.link {
  height: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  overflow: hidden;

  &__image {
    stroke: variables.$clr-primary-gray;
    margin: 11px;
    min-width: 24px;

    &_reverse {
      width: 0;
      min-width: 0;
      margin: 0;
      @include animation();

      &-close {
        min-width: 24px;
        margin: 11px;
      }
    }
  }

  &__text {
    padding: 0;
    margin: 0 5px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;

    &_reverse {
      margin: 0;
      @include animation();

      &-close {
        width: 0;
      }
    }
  }

  &_theme {
    &_blue {
      padding: 0 30px;
      margin-left: 4px;
      border-radius: 10px;
      background-color: variables.$clr-primary-medium;
      color: variables.$clr-white;
      font-family: variables.$ff-secondary;
      font-weight: variables.$fw-600;
      font-size: variables.$fs-small;
      letter-spacing: 1px;
      @include animation();

      &:hover {
        background-color: variables.$clr-icon-hover;
      }

      &:focus {
        background-color: variables.$clr-primary-light;
      }

      &-close {
        padding: 0;
        margin-left: 0;
        border-radius: 50px;
      }
    }

    &_gray {
      border-radius: 50px;
      color: variables.$clr-primary-dark;
      font-family: variables.$ff-primary;
      font-weight: variables.$fw-400;
      font-size: variables.$fs-base;
      letter-spacing: 0.2px;

      &:hover {
        background-color: variables.$clr-secondary-gray;
      }

      &:focus {
        & .link__image {
          stroke: variables.$clr-primary-medium;
        }

        & .link__text {
          color: variables.$clr-primary-medium;
          font-weight: variables.$fw-600;
        }
      }

      &:focus {
        & .button__image {
          stroke: variables.$clr-primary-medium;
        }

        & .button__text {
          color: variables.$clr-primary-medium;
          font-weight: variables.$fw-600;
        }
      }
    }
  }
}

// меню второго уровня раздела мини-лендинг. Пока есть вопросы по реализации.
.menu__second {
  &_item {
    // height: 0;
    // margin: 0;
  }
  &_text {
    margin-left: 50px;
  }
}

@mixin button-default() {
  margin: 0;
  padding: 0;
  min-height: 24px;
  min-width: 24px;
  margin-right: 32px;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

@mixin text-default() {
  font-family: variables.$ff-primary;
  font-weight: variables.$fw-400;
  color: variables.$clr-primary-dark;
  font-size: variables.$fs-base;
  line-height: 24px;
  letter-spacing: -0.1px;
  white-space: nowrap;
}

.page-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: grid;
  column-gap: 43px;
  grid-template-columns: auto 1fr 0;
  grid-template-rows: 72px 1fr 50px;
  grid-template-areas:
    "nav header ."
    "nav main ."
    "nav footer .";
  position: relative;
}

.main {
  grid-area: main;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 32px;
}

.header {
  grid-area: header;
  box-sizing: border-box;
  border-bottom: 1px solid variables.$clr-secondary-focus;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__menu {
    @include button-default();
    background-image: url("../../images/template-icon/24x24/add_block/menu_grey.svg");
  }

  &__rate {
    margin-left: auto;
    margin-right: 8px;
    @include text-default();

    &-name {
      @include text-default();
      font-weight: variables.$fw-600;
      margin-right: 32px;
    }
  }

  &__help {
    @include button-default();
    background-image: url("../../images/template-icon/24x24/common/help.svg");
    background-repeat: no-repeat;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 29px;
      width: 1px;
      background-color: variables.$clr-secondary-focus;
      position: absolute;
      bottom: -2px;
      left: -15px;
    }
  }

  &__notification {
    @include button-default();
    background-image: url("../../images/template-icon/24x24/common/notifications.svg");
    background-repeat: no-repeat;
    position: relative;

    &-counter {
      height: 14px;
      width: 14px;
      background-color: variables.$clr-validation-error;
      border-radius: 50%;
      font-family: variables.$ff-secondary;
      font-weight: variables.$fw-600;
      font-size: variables.$fs-tiny;
      line-height: 15px;
      color: variables.$clr-white;
      position: absolute;
      top: -15px;
      right: -1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:focus {
      outline: none;
    }
  }

  &__profile {
    margin: 0;
    padding: 0;
    height: 36px;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;

    &-avatar {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      border: 2px solid variables.$clr-secondary-gray;
      box-sizing: border-box;
    }
    &-name {
      margin-left: 10px;
      margin-right: 12px;
      @include text-default();
    }

    &:focus {
      outline: none;
    }
  }
}

.footer {
  grid-area: footer;
  box-sizing: border-box;
  border-top: 1px solid variables.$clr-secondary-cultured;
  display: flex;
  align-items: center;
  padding-left: 40px;
  @include text-default();
}

.popup {
  display: block;
  position: fixed;

  &__notification {
    height: 100vh;
    width: 364px;
    padding: 24px 40px 0 28px;

    top: 0;
    right: 0;
    background-color: variables.$clr-white;
    border-left: 1px solid variables.$clr-secondary-focus;
    @include boxShadow();
    z-index: 100;
    transition: right 0.3s ease-in-out;

    &-close {
      right: -400px;
    }

    &-header {
      margin-bottom: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__overlay {
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box;
      position: fixed;
      z-index: 99;

      &-close {
        display: none;
      }
    }

    &-menu {
      padding: 0;
      margin: 0;
      display: flex;

      &-label {
        height: 50px;
        width: 100%;
        border-bottom: 2px solid variables.$clr-secondary-cultured;
        color: variables.$clr-secondary-cultured;
        font-family: variables.$ff-secondary;
        font-weight: variables.$fw-500;
        font-size: variables.$fs-base;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include animation();
      }

      &-input {
        display: none;

        &:checked {
          & + label {
            color: variables.$clr-primary-medium;
            border-bottom: 2px solid variables.$clr-primary-medium;
          }
        }
      }
    }
  }

  &__header {
    &-ico {
      height: 24px;
      width: 24px;
      margin-right: 16px;
    }

    &-title {
      padding: 0;
      margin: 0;
      margin-right: auto;
      font-family: variables.$ff-secondary;
      font-weight: variables.$fw-600;
      font-size: variables.$fs-24;
      line-height: 32px;
    }
  }

  &__close {
    @include button-default();
    margin: 0;
    height: 24px;
    width: 24px;
    background-image: url("../../images/template-icon/24x24/common/close.svg");
  }

  &__accaunt {
    width: 200px;
    padding: 8px 0 5px;
    right: 26px;
    top: 70px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: variables.$clr-white;
    @include boxShadow();

    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: flex-start;

      position: relative;

      &::after {
        content: "";
        height: 1px;
        width: 200px;
        bottom: 46px;
        position: absolute;
        background-color: variables.$clr-secondary-cultured;
        border-bottom: 1px solid variables.$clr-secondary-cultured;
      }
    }

    &-button {
      @include button-default();
      margin: 0 0 8px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;

      &:hover {
        background-color: variables.$clr-secondary-gray;
      }

      &:last-of-type {
        margin: 11px 0 0;
      }

      &-image16 {
        height: 16px;
        width: 16px;
        margin: 0 12px 0 16px;
      }

      &-image24 {
        height: 24px;
        width: 24px;
        margin: 0 8px 0 16px;
      }

      &-text {
        margin: 0;
        padding: 0;
        color: variables.$clr-primary-dark;
        font-family: variables.$ff-secondary;
        font-weight: variables.$fw-400;
        font-size: variables.$fs-small;
        line-height: 21px;
        letter-spacing: -1px;
      }
    }

    &-line {
      height: 1px;
      margin-bottom: 8px;
      border-bottom: 1px solid variables.$clr-secondary-cultured;
    }

    &-close {
      display: none;
    }
  }
}
