@use "../variables";
@use "../common";
@use "utils";

.section {
  outline: 1px 0px 1px 0px solid gray;
  padding: 20px;
  display: flex;
}

.section__title {
  margin: 0;
  font-family: variables.$ff-secondary;
  font-size: variables.$fs-base;
  font-style: normal;
  font-weight: variables.$fw-400;
  line-height: 130%;
  margin-right: 100px;
  width: 30%;
}

.popup {
  box-shadow: 0px 12px 24px 0px variables.$clr-gray-shadow;
  border-radius: 10px;
  background: variables.$clr-white;
}

.popup_scrollable {
  max-height: 135px;
  overflow: scroll;
}

.steps {
  margin: 0;
  font-family: variables.$ff-secondary;
  font-size: variables.$fs-base;
  font-style: normal;
  font-weight: variables.$fw-600;
  line-height: 130%; /* 20.8px */
  letter-spacing: 0.5px;
  display: flex;

  .step {
    margin-right: 16px;

    &-name {
      margin-left: 16px;
    }
  }
}

.card {
  flex-shrink: 0;
  width: 296px;
  height: 172px;
  padding: 24px 16px 16px 32px;
  border-radius: 30px;
  background: variables.$clr-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon:hover {
    cursor: pointer;
  }

  &__name {
    margin: 0;
    font-family: variables.$ff-secondary;
    font-size: variables.$fs-base;
    font-style: normal;
    font-weight: variables.$fw-600;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.5px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 232px;
    min-height: 56px;
    display: flex;
    align-items: center;
  }
}

.helper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__board {
    background-color: variables.$clr-xiketic-press;
    color: variables.$clr-white;
    min-height: 23px;
    display: flex;
    padding: 4px 6px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: variables.$ff-primary;
    font-size: 10px;
    font-style: normal;
    font-weight: variables.$fw-400;
    line-height: 150%; /* 15px */
    letter-spacing: 0.3px;
  }

  &__pointer {
    width: 0;
    height: 0;
    border-left: 4.244px solid transparent;
    border-right: 4.244px solid transparent;
    border-top: 4.244px solid variables.$clr-xiketic-press;

    &_aside {
      border-left: 4.244px solid variables.$clr-xiketic-press;
      border-top: 4.244px solid transparent;
      border-bottom: 4.244px solid transparent;
    }
  }

  &_aside {
    flex-direction: row;
  }

  &__board_large {
    font-size: variables.$fs-base;
    font-weight: variables.$fw-500;
    padding: 13px 20px;
    border-radius: 10px;
  }
}

.card__actions {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 8px 0;

  &-img {
    opacity: 0.4;
    margin-right: 16px;
  }

  .card__action {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    font-family: variables.$ff-primary;
    font-size: 13px;
    font-style: normal;
    font-weight: variables.$fw-400;
    line-height: 150%; /* 19.5px */
    letter-spacing: 0.3px;
    opacity: 0.8;

    &:first-child,
    &:nth-last-child(2) {
      border-bottom: 1px solid variables.$clr-secondary-cultured;
      padding-bottom: 16px;
    }

    &:hover,
    &:hover > .card__actions-img {
      cursor: pointer;
      opacity: 1;
      background-color: variables.$clr-secondary-gray;
    }
  }
}

.account__actions {
  @extend .card__actions;

  &-img {
    @extend .card__actions-img;
  }

  .account__action {
    @extend .card__action;

    &:first-child {
      border-bottom: none;
    }
  }
}

.text__actions {
  @extend .card__actions;
  flex-direction: row;
  min-width: 192px;
  padding: 8px 12px;
  justify-content: space-around;

  &-img:hover {
    cursor: pointer;
  }

  &-img_inactive {
    opacity: 0.4;

    &:hover {
      cursor: auto;
    }
  }
}

.calendar__actions {
  @extend .card__actions;
  min-width: 264px;

  .calendar__action {
    @extend .card__action;
    padding: 9px 16px;

    &:first-child,
    &:nth-last-child(2) {
      border-bottom: none;
      padding-bottom: 9px;
    }
  }
}

.selector {
  min-width: 264px;
  height: 40px;
  background-color: variables.$clr-secondary-gray;
  color: variables.$clr-gray-2;
  border-radius: 5px;
  padding: 10px 8px;
  font-family: variables.$ff-primary;
  font-size: variables.$fs-small;
  font-style: normal;
  font-weight: variables.$fw-400;
  line-height: 150%; /* 19.5px */
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button-arrow {
    display: inline-block;
    background: url("../../images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    margin: 0 10px;

    &_up {
      transform: rotate(180deg);
    }
  }
}

.selector__items {
  @extend .card__actions;

  .selector__item {
    @extend .card__action;
    padding: 7px 16px;
    justify-content: space-between;

    &:first-child,
    &:nth-last-child(2) {
      border-bottom: none;
      padding-bottom: 7px;
    }
  }

  .selector__checkmark {
    opacity: 0;

    &_checked {
      opacity: 1;
    }
  }

  .selector__checkmark-for-all {
    opacity: 0;

    &_checked {
      opacity: 1;
    }
  }
}
