@use "../variables";
@use "../common";
@use "utils";

.ui-kit-body-icons {
  width: 700px;
}

.component {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  &_flex-space {
    justify-content: space-between;
    margin-bottom: 30px;

    &:last-child {
      margin-top: 30px;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}

.icon {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  object-fit: none;

  &_30x24 {
    width: 24px;
    height: 30px;
    box-sizing: content-box;
  }

  &_36x36 {
    width: 36px;
    height: 36px;
  }

  &_40x40 {
    width: 40px;
    height: 40px;
  }

  &_pos-rel {
    position: relative;
    height: 30px;
  }

  &_pos-abs {
    position: absolute;
  }

  /*если нужно сменить цвет логотипа на белый*/
  &_invert {
    filter: invert(100%) grayscale(100%) brightness(3);
  }

  /*колокольчик. Если оповещении нет - удаляем этот класс*/
  &__count {
    margin: 0;
    padding: 0;
    width: 14px;
    background-color: variables.$clr-validation-error;
    border-radius: 50%;

    color: #fff;
    text-align: center;
    line-height: 135%;
    font-size: 10px;
    font-family: variables.$ff-primary;
    font-weight: variables.$fw-400;
    position: absolute;
    right: 0;
    top: 0;
  }

  &_add-bot {
    width: 65px;
    height: 46px;
  }

  &_avatar {
    width: 36px;
    height: 36px;
    object-fit: contain;
  }
}
// header потому место иконки (колокольчик) в шапке
.header {
  &__notification {
    background-image: url("../../images/template-icon/24x24/common/notifications.svg");
    background-repeat: no-repeat;
    position: relative;

    &-counter {
      height: 14px;
      width: 14px;
      background-color: variables.$clr-validation-error;
      border-radius: 50%;
      font-family: variables.$ff-secondary;
      font-weight: variables.$fw-600;
      font-size: variables.$fs-tiny;
      line-height: 15px;
      color: variables.$clr-white;
      position: absolute;
      top: -15px;
      right: -1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  &__bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: variables.$clr-secondary-gray;
  }

  &__bg_img {
    background-position: center;
    background-size: contain;
    background-image: url("../../images/avatar/circle.png");
  }
}

.button-elem {
  margin: 0;
  padding: 0;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &_32x32 {
    width: 32px;
    height: 32px;
  }
  &__img-bg {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    object-fit: contain;
    position: absolute;
  }
  &__img-bg_opacity {
    opacity: 50%;
  }

  /* если нужно развернуть иконку / кнопку*/
  &_rotate90 {
    rotate: -90deg;
  }

  /* меняем цвет фона через модификаторы*/
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }

  &__bg-opacity {
    opacity: 50%;
  }

  &__bg-blue {
    background-color: variables.$clr-primary-medium;
  }

  &__bg-grey {
    background-color: variables.$clr-secondary-gray;
  }

  &__bg-disable {
    background-color: variables.$clr-primary-gray;
  }

  &__bg-green {
    background-color: variables.$clr-accent;
  }

  &_disable {
    background-color: variables.$clr-secondary-gray;
  }
}
// общий стиль для всех кнопок
.component_flex-space > button > img {
  min-width: 104px;
  min-height: 104px;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-icon {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: relative;

  &__img {
    outline-color: none;
    outline-style: none;
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 50%;
    position: relative;
    top: 0;
    right: 0;
  }

  &__img_google {
    filter: grayscale(100%) brightness(4);
  }

  &__bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: variables.$clr-primary-medium;

    position: absolute;
    top: 0;
    right: 0;

    &_inactive {
      background-color: variables.$clr-primary-gray;
    }
  }

  .transition {
    transition: 0.1s ease-in;
  }

  &:hover .social-icon__bg_facebook {
    @extend .transition;
    background-color: #2d88ff;
  }
  &:hover .social-icon__bg_telegram {
    @extend .transition;
    background-color: #2aabee;
  }
  &:hover .social-icon__bg_youtube {
    @extend .transition;
    background-color: #ff0000;
  }
  &:hover .social-icon__bg_vk {
    @extend .transition;
    background-color: #2787f5;
  }
  &:hover .social-icon__bg_insta {
    @extend .transition;
    background: radial-gradient(
      100.29% 100.29% at 32.5% 97.5%,
      #ffdc80 0%,
      #fcaf45 18.39%,
      #f06856 38.02%,
      #e1306c 51.04%,
      #833ab4 83.85%,
      #405de6 99.99%
    );
  }
  &:hover .social-icon__bg_twitter {
    @extend .transition;
    background-color: #1da1f2;
  }
  &:hover .social-icon__bg_web {
    @extend .transition;
    background-color: #435cdb;
  }
  &:hover .social-icon__bg_odnoklassniki {
    @extend .transition;
    background-color: #ee8208;
  }
  &:hover .social-icon__bg_mailru {
    @extend .transition;
    background-color: #005ff9;
  }
  &:hover .social-icon__bg_yandex {
    @extend .transition;
    background-color: #fc3f1d;
  }
  &:hover .social-icon__bg_google {
    @extend .transition;
    background-color: rgba(248, 249, 251, 1);
  }
  &:hover .social-icon__img_google {
    @extend .transition;
    filter: grayscale(0) brightness(1);
  }
  &:hover .social-icon__bg_viber {
    @extend .transition;
    background-color: #7360f2;
  }
  &:hover .social-icon__bg_alisa {
    @extend .transition;
    background: linear-gradient(180deg, #6326ff 0%, #b326ff 100%);
  }
  &:hover .social-icon__bg_whatsapp {
    @extend .transition;
    background-color: #3cbb28;
  }
}
.frame-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
