@use "../variables";
@use "../common";
@use "utils";

.ui-kit-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(auto, 250px) minmax(auto, 250px);
}

.ui-kit-label {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  position: relative;
}

.fields-common,
.fields-constructor {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.fields-common__h2,
.fields-constructor__h2 {
  font-family: variables.$ff-secondary;
  font-size: 32px;
  font-style: normal;
  font-weight: variables.$fw-600;
  line-height: 1.3;
  letter-spacing: -0.2px;
  color: variables.$clr-black;
  margin-bottom: 20px;
}

// Common
// Введите код доступа
.access-key__input {
  width: 100%;
  max-width: 580px;
  height: 65px;
  padding: 22px 24px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  background: variables.$clr-gray;
  font-family: variables.$ff-primary;
  font-size: 13px;
  font-style: normal;
  font-weight: variables.$fw-600;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: variables.$clr-primary-dark;
}

.access-key__input::placeholder {
  font-family: variables.$ff-primary;
  font-size: variables.$fs-small;
  font-style: normal;
  font-weight: variables.$fw-600;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: variables.$clr-primary-gray;
}

.access-key__input:hover::placeholder {
  color: variables.$clr-gray-3;
}

.access-key__input_incorrect {
  border: 1px solid variables.$clr-validation-error;
}

.access-key__input:disabled::placeholder {
  color: variables.$clr-secondary-focus;
}

.access-key__input:disabled:hover::placeholder {
  color: variables.$clr-secondary-focus;
}

.access-key__text_incorrect {
  color: variables.$clr-validation-error;
  font-size: 10px;
  font-style: normal;
  font-weight: variables.$fw-400;
  line-height: 1.5;
  letter-spacing: 0.3px;
  max-width: 580px;
}

// Загрузка страниц
.row:first-of-type {
  margin-top: 30px;
}

.row {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}

.row__name {
  font-family: variables.$ff-primary;
  font-size: 12px;
  font-style: normal;
  font-weight: variables.$fw-400;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: rgba(6, 12, 35, 0.5);
}

.page {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  font-family: variables.$ff-primary;
  font-size: 13px;
  font-style: normal;
  font-weight: variables.$fw-600;
  color: variables.$clr-primary-dark;
  line-height: 1.5;
  letter-spacing: 0.3px;
  background: variables.$clr-secondary-gray;
  width: 100%;
  max-width: 180px;
  height: 52px;
  border-radius: 50px;
  cursor: pointer;
  transition: color 0.4s linear;

  &.page_disabled {
    color: variables.$clr-gray-2;
    cursor: default;
  }
}

.page__preview {
  border-radius: 50%;
}

.page__container {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.page__overlay {
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s linear;
}

.page__checkmark {
  background-image: url("../../images/template-icon/24x24/common/check.svg");
  filter: invert(100%) grayscale(100%) brightness(3);
  height: 23px;
  width: 23px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  opacity: 0;
}

.page:hover {
  color: variables.$clr-primary-medium;

  &.page_disabled {
    color: variables.$clr-gray-2;
    cursor: default;
  }
}

.page_active {
  color: variables.$clr-primary-medium;
  background: variables.$clr-blue-disabled;

  .page__checkmark {
    opacity: 1;
  }

  .page__overlay {
    background-color: rgba(36, 60, 187, 0.5);
  }
}

.page_disabled {
  .page__preview {
    opacity: 0.5;
  }

  .page__checkmark {
    cursor: default;
  }
}

// Constructor
.field__input {
  width: 100%;
  max-width: 231px;
  height: 40px;
  padding: 10px 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background: variables.$clr-secondary-gray;
  font-family: variables.$ff-primary;
  font-size: 13px;
  font-style: normal;
  font-weight: variables.$fw-400;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: variables.$clr-primary-dark;
}

.field__input::placeholder {
  color: variables.$clr-gray-2;
}

.field__input_incorrect {
  border: 1px solid variables.$clr-validation-error;
}

.field-text_incorrect {
  color: variables.$clr-validation-error;
  font-size: 10px;
  font-style: normal;
  font-weight: variables.$fw-400;
  line-height: 1.5;
  letter-spacing: 0.3px;
  max-width: 580px;
}

.field__input:disabled::placeholder {
  color: variables.$clr-secondary-cultured;
}

// Add phone
.add-phone__container {
  display: flex;
  box-shadow: 0 6px 16px 0 variables.$box-shadow;
  max-width: fit-content;
  border-radius: 5px;
}

.icon {
  display: block;
  padding: 8px 12px;
}

.ui-kit__button {
  border-radius: 5px;
}

.icon__trash-bin {
  border-left: 1px solid variables.$clr-secondary-gray;
}

// Add link
.add-link__container {
  display: flex;
  box-shadow: 0 6px 16px 0 variables.$box-shadow;
  max-width: fit-content;
  border-radius: 5px;
}

.field__input_border_green {
  border: 1px solid variables.$clr-accent-press;
}

.field__wrapper {
  position: relative;
  max-width: 231px;
}

.field__border-decoration {
  display: block;
  background-image: url("../../images/template-icon/conctructor/add-link-S.svg");
  width: 10px;
  height: 10px;
  position: absolute;
  right: -2%;
  top: 40%;
}

.field__border-decoration:hover {
  background-image: url("../../images/template-icon/conctructor/add-link-L.svg");
  background-size: 10px 10px;
  cursor: pointer;
}
