@use "../variables";
@use "../common-styles";
@use "../ui-kit/ui_kit_buttons.scss";
@use "../ui-kit/ui_kit_fields.scss";

@mixin button-default() {
  margin: 0;
  padding: 0;
  min-height: 24px;
  min-width: 24px;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.title {
  margin: 0;
  padding: 0;
  color: variables.$clr-primary-dark;
  font-family: variables.$ff-secondary;
  font-weight: variables.$fw-600;

  &_h1 {
    margin: 33px 0 0;
    font-size: variables.$fs-h2-additionally;
    font-weight: variables.$fw-600;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  &_h2 {
    margin: 0 20px 0 15px;
    font-size: variables.$fs-24;
    line-height: 30px;
  }

  &_h3 {
    font-size: variables.$fs-base;
    line-height: 21px;
    letter-spacing: 0.5px;

    &-step {
      margin-right: 32px;
    }
  }

  &_h4 {
    font-size: variables.$fs-button-text;
    line-height: 23px;
  }
}

.text {
  margin: 0;
  padding: 0;
  color: variables.$clr-primary-dark;
  font-family: variables.$ff-primary;
  font-weight: variables.$fw-400;
  letter-spacing: 0.3px;

  &_base {
    font-size: variables.$fs-13;
    color: variables.$clr-primary-medium;

    &-bold {
      font-weight: variables.$fw-600;
    }
  }
}

.social {
  &__items {
    margin: 0;
    padding: 31px 0 20px;
    margin-bottom: 9px;
    list-style-type: none;
    overflow: auto;
    display: flex;
    justify-content: space-between;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: variables.$clr-secondary-gray;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: variables.$clr-primary-gray;
      border-radius: 10px;
    }
  }

  &__item {
    margin-right: 19px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 330px;
  border-radius: 30px;
  background-color: variables.$clr-secondary-gray;

  @media screen and (max-width: 360px) {
    margin-right: 20px;
  }

  &_content {
    justify-content: flex-start;
    align-items: stretch;
  }

  &__title {
    margin: 0;
    padding: 0;
    max-width: 648px;
    font-family: variables.$ff-secondary;
    color: variables.$clr-gray-3;
    font-size: 24px;
    font-weight: variables.$fw-600;
    line-height: 31px;
    letter-spacing: 0;
    text-align: left;

    @media screen and (max-width: 360px) {
      font-size: 18px;
      text-align: center;
      line-height: 23.4px;
      max-width: 256px;
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    color: variables.$clr-gray-3;
    font-family: variables.$ff-primary;
    font-size: variables.$fs-base;
    font-weight: variables.$fw-600;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;

    @media screen and (max-width: 360px) {
      font-size: 14px;
      max-width: 256px;
      text-align: center;
    }
  }

  &__settings {
    width: 100%;
    padding: 40px 40px 36px;
    border-radius: 30px;
    background-color: variables.$clr-white;
    box-shadow: 0 6px 16px 0 variables.$box-shadow;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;

    &_header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &_body {
      margin: 26px 0 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      list-style-type: none;

      @media screen and (max-width: 360px) {
        flex-direction: column;
      }
    }

    &_item {
      margin-right: 28px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;

      &:last-child {
        margin: 0;
      }

      &-titles {
        display: flex;
        margin: 14px 0 16px;
      }
    }

    &_footer {
      margin-top: 15px;
      align-self: end;
      max-width: 256px;
      height: 65px;
      font-size: variables.$fs-button-text;
    }

    &_base {
      padding: 0 16px;
      height: 32px;
      border-radius: 16px;
      background-color: variables.$clr-blue-disabled;
      display: flex;
      align-items: center;

      @media screen and (max-width: 360px) {
        display: none;
      }
    }
  }

  &__help {
    padding: 32px 40px 40px;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 39px;
    }

    &_body {
      display: flex;
      justify-content: center;
      align-items: center;

      & > .button-tutorial:first-child {
        margin-right: 29px;

        @media screen and (max-width: 360px) {
          margin: 0;
        }
      }
      @media screen and (max-width: 360px) {
        flex-direction: column;
      }
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  min-height: 65px;
  max-height: 146px;
  border-radius: 10px;
  background-color: variables.$clr-gray;
  display: flex;
  align-items: center;
  justify-content: center;

  &__pages {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    column-gap: 8px;
    row-gap: 10px;
  }

  &__page {
    padding: 8px;
    height: 52px;
    min-width: 180px;
    max-width: 274px;
    width: 100%;
    @extend .text;
    font-size: variables.$fs-small;
    color: variables.$clr-gray-3;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: variables.$clr-secondary-gray;

    &_load {
      background-color: transparent;
    }

    &_image {
      margin-right: 18px;
    }
  }
}

.load-image {
  opacity: 0.3;
}

.social-icon_l {
  height: 25px;
  width: 25px;
}

.hidden {
  display: none;
}

.disable {
  fill: variables.$clr-secondary-focus;
  color: variables.$clr-secondary-focus;
}

.access-key__input_nowidth {
  max-width: none;
}
