@use "../variables";
@use "../common";
@use "../ui-kit/ui_kit_buttons.scss";

@mixin test($color) {
  border: 1px solid $color;
  box-sizing: border-box;
}

.text {
  color: variables.$clr-primary-dark;
  font-family: variables.$ff-primary;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-style: normal;
  font-weight: variables.$fw-600;
}
.templates {
  &__container {
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    gap: 6px;
    cursor: pointer;
  }
  &__paragraph {
    @extend .text;
    font-size: 16px;
    color: variables.$clr-gray-3;
  }
}
.section-header {
  margin-bottom: 32px;
  @extend .text;
  font-size: 32px;
  font-weight: variables.$fw-600;
  line-height: 1.3;
  letter-spacing: -0.2px;
  font-family: variables.$ff-secondary;

  &_margin-40 {
    margin-top: 40px;
  }
  &_margin-60 {
    margin-top: 60px;
  }
  &_margin-102 {
    margin-top: 102px;
  }
}

.social {
  &__items {
    margin: 0 0 29px;
    padding: 0;
    list-style-type: none;
    display: grid;
    align-items: center;
    column-gap: 28px;
    row-gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
  }
}

.info-block {
  min-height: 330px;
  // min-height: 513px;
  border-radius: 30px;
  background-color: variables.$clr-secondary-gray;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.bot-setting {
  max-height: 330px;
  min-width: 100%;
  padding: 43px 40px 36px;
  box-sizing: border-box;

  border-radius: 30px;
  background-color: variables.$clr-white;
  box-shadow: 0px 6px 16px 0px variables.$box-shadow;

  position: absolute;
  top: 0;
  right: 0;

  &__box-header {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__header {
    margin: 0;
    @extend .text;
    font-family: variables.$ff-secondary;
    font-size: variables.$fs-24;
  }
  &__paragraph {
    max-height: 32px;
    margin: 0 0 0 5px;
    padding: 8px 16px 6px;

    border-radius: 16px;
    box-sizing: border-box;

    @extend .button-social__caption;
    background-color: variables.$clr-blue-disabled;
    color: variables.$clr-primary-medium;
    font-weight: variables.$fw-400;
  }
  &__span {
    font-weight: variables.$fw-600;
  }
  &__ol {
    padding: 0;
    margin-top: 40px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 28px;

    list-style: none;
    @extend .text;
    font-family: variables.$ff-secondary;
    font-size: variables.$fs-base;
  }
  &__list {
    min-width: calc(100% / 3 - 28px);
    width: calc(100% / 2 - 14px);
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > p {
      margin: 0;
    }
    & > p > span {
      margin-left: 32px;
    }
  }
  &__input-box {
    border-radius: 5px;
    background-color: variables.$clr-gray;
  }
  &__input {
    width: 100%;
    height: 65px;
    padding: 22px 24px;
    box-sizing: border-box;
    appearance: none;

    &::placeholder {
      @extend .text;
      font-size: variables.$fs-small;
      color: variables.$clr-gray-3;
    }
  }
  &__button {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    background-color: variables.$clr-gray;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;

    & > svg {
      width: 30px;
      height: 30px;
      background-color: variables.$clr-primary-gray;
      border-radius: 50%;
    }
    & > p {
      margin: 0;
      @extend .text;
      font-size: variables.$fs-small;
      color: variables.$clr-gray-3;
    }
  }
  &__submit-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__submit {
    margin: 0;
    width: 256px;
    height: 65px;
    border-radius: 10px;

    @extend .text;
    font-family: variables.$ff-secondary;
    font-size: variables.$fs-base;

    background-color: variables.$clr-accent;
  }
}
.faq-panel {
  padding: 0 41px 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  right: 0;

  &__header {
    flex-grow: 1;
    @extend .bot-setting__header;
    font-size: variables.$fs-button-text;
  }
  &__btn-uncover {
    min-width: 24px;
  }
  &__faq {
    margin: 12px 0 0 0;
    padding: 0;
    min-height: 76px;
    width: 100%;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 29px;
  }
  &__list {
    width: calc(100% / 2 - 29px);
  }
  &__button {
    height: 100%;
    width: 100%;

    border: solid 2px variables.$clr-secondary-focus;
    border-radius: 10px;
    background-color: variables.$clr-secondary-gray;

    & > p {
      text-align: start;
      margin: 0 0 0 34%;

      @extend .text;
      font-size: variables.$fs-small;
    }
    &_video {
      background-image: url("../../images/template-icon/add_bot/video-frame_1.svg");
      background-repeat: no-repeat;
    }
    &_video:hover {
      background-image: url("../../images/template-icon/add_bot/video-frame_2.svg");
      background-repeat: no-repeat;
    }
    &_book {
      background-image: url("../../images/template-icon/add_bot/book-frame_2.svg");
      background-repeat: no-repeat;
    }
    &_book:hover {
      background-image: url("../../images/template-icon/add_bot/book-frame_1.svg");
      background-repeat: no-repeat;
    }
    &:hover {
      background-color: variables.$clr-white;
      border: none;
      box-shadow: 0px 6px 16px 0px variables.$box-shadow;
    }
  }
}

.social-icon {
  border-radius: 50%;

  &_facebook {
    background-color: #2d88ff;
  }
  &_telegram {
    background-color: #2aabee;
  }
  &_youtube {
    background-color: #ff0000;
  }
  &_vk {
    background-color: #2787f5;
  }
  &_insta {
    background: radial-gradient(
      100.29% 100.29% at 32.5% 97.5%,
      #ffdc80 0%,
      #fcaf45 18.39%,
      #f06856 38.02%,
      #e1306c 51.04%,
      #833ab4 83.85%,
      #405de6 99.99%
    );
  }
  &_twitter {
    background-color: #1da1f2;
  }
  &_web {
    background-color: #435cdb;
  }
  &_odnoklassniki {
    background-color: #ee8208;
  }
  &_mailru {
    background-color: #005ff9;
  }
  &_yandex {
    background-color: #fc3f1d;
  }
  &_google {
    background-color: rgba(248, 249, 251, 1);
  }
  &_viber {
    background-color: #7360f2;
  }
  &_alisa {
    background: linear-gradient(180deg, #6326ff 0%, #b326ff 100%);
  }
  &_whatsapp {
    background-color: #3cbb28;
  }
}

.messege {
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    padding: 0;
    max-width: 648px;
    font-family: variables.$ff-secondary;
    color: variables.$clr-gray-3;
    font-size: 24px;
    font-weight: variables.$fw-600;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__text {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    color: variables.$clr-gray-3;
    font-family: variables.$ff-primary;
    font-size: variables.$fs-base;
    font-weight: variables.$fw-600;
    line-height: 24px;
    letter-spacing: 0.3;
    text-align: left;
  }
}

/////// модификаторы на компанеты
.social-icon {
  max-height: 25px;
  max-width: 25px;
}
.hidden {
  display: none;
}
