.menu {
  display: block;
  height: 900px;
  width: 86px;
  /* width: 240px; */
  padding: 16px;
  padding-right: 0;
  box-sizing: border-box;
  transition: width .4s ease-in-out;
  /* background-color: #fff; */
}

.menu:hover {
  width: 240px;
}

/* .menu:active {
  background-color: aqua;
} */
