@use "../variables";
@use "../common-styles";
@use "../ui-kit/ui_kit_buttons.scss";
@use "../ui-kit/ui_kit_fields.scss";

.text {
  margin: 0;
  color: variables.$clr-primary-dark;
  font-family: variables.$ff-primary;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-style: normal;
  font-weight: variables.$fw-600;
}
.general-grey-text {
  @extend .text;
  font-size: variables.$fs-small;
  font-weight: variables.$fw-400;
  color: variables.$clr-gray-3;
}

.section-header {
  margin-bottom: 24px;
  @extend .text;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.2px;
  font-family: variables.$ff-secondary;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

///////////// dialogues
.dialogues {
  width: 25.5%;
  box-sizing: border-box;
  padding-right: 20px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__ul {
    margin: 16px 0 0;
    padding: 0;
    list-style: none;
  }
  &__li {
    border-bottom: solid 1px variables.$clr-secondary-cultured;
  }

  &__input {
    height: 40px;
    width: 100%;
    outline-style: none;
    background-color: variables.$clr-secondary-gray;
  }
}
.dialogues-box {
  height: 79px;
  width: 100%;
  padding: 19px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  &:last-child {
    border: 0px;
  }
  &__avatar {
    height: 40px;
    aspect-ratio: 1/1;
    position: relative;
  }
  &__point {
    height: 8px;
    width: 8px;
    background-color: variables.$clr-accent;
    border: solid 2px variables.$clr-white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &__container {
    margin: 0 0 0 16px;
    width: 100%;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: start;
  }
  &__user {
    width: 60%;
    @extend .text;
    font-size: variables.$fs-base;
    font-weight: variables.$fw-500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__count-message {
    @extend .text;

    padding-top: 4px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: variables.$clr-primary-medium;
    color: variables.$clr-white;
    text-align: center;
    font-size: variables.$fs-tiny;
    font-family: variables.$ff-primary;
  }
  &__selector {
    height: 100%;
    width: 4px;
    background-color: variables.$clr-primary-medium;
    border-radius: 2px 0 0 2px;

    position: absolute;
    top: 0;
    right: -20px;
  }
}

///////////// chat
.chat {
  width: 51.5%;
  box-sizing: border-box;
  padding: 0 32px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  border-left: solid 1px variables.$clr-secondary-cultured;
  border-right: solid 1px variables.$clr-secondary-cultured;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__header-box {
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__icons-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  &__dialogue-window {
    flex-grow: 1;
  }
  &__dialogue-cloud {
    margin-top: 46px;
    position: relative;
    display: flex;
    align-items: flex-end;

    &_your {
      flex-direction: row-reverse;
    }
  }
  &__dialogue-window > div:first-child {
    margin-top: 32px;
  }
  &__buttom-menu {
    display: flex;
    justify-content: space-between;
    // gap: 20px;
    align-items: center;
  }
  &__input-box {
    display: inline-block;
    padding: 14px 12px 14px 16px;
    height: 48px;
    background-color: variables.$clr-gray;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    flex-grow: 1;
  }
  &__input-button {
    min-width: 20px;
    max-height: 20px;
    object-fit: contain;
    object-position: center;

    margin-left: 8px;
  }
  &__button-stretch {
    width: 31px;
    height: 40px;
    padding-left: 5px;
    border-radius: 20px 0 0 20px;
    background-color: variables.$clr-primary-medium;
    position: absolute;
    right: 0;
    top: 62%;
  }
}
.user-name {
  margin: 0 0 0 19px;
  flex-grow: 1;

  @extend .text;
  font-size: variables.$fs-base;
  font-weight: variables.$fw-500;
  font-family: variables.$ff-secondary;

  &_user-info {
    margin: 0;
    padding-bottom: 4px;
  }
}
.user-avatar {
  min-width: 40px;
  min-height: 40px;
  position: relative;

  &__user-info {
    margin-top: 40px;
    margin-bottom: 16px;

    width: 60px;
    height: 60px;
  }
  &__point {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -4px;
    left: -4px;

    border-radius: 50%;
    background-color: variables.$clr-primary-medium;
  }
  &__point-img {
    filter: invert(100%) grayscale(100%) brightness(3);
    width: 12px;
    margin: 2px 3px 4px 3px;
    object-position: 50% 50%;
  }
}
.time-border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__line {
    height: 1px;
    width: 38%;
    background-color: variables.$clr-secondary-cultured;
  }
}

.cloud-box {
  margin: 0 12px 0 16px;
  padding: 16px;
  width: 232px;
  border-radius: 10px 10px 10px 0;
  background-position: right;
  background-image: url(../../images/chat/rectangle-grey.svg);
  background-size: cover;
  // background-color: variables.$clr-gray;

  &_your {
    width: 310px;
    border-radius: 10px 10px 0 10px;
    background-position: left;
    background-image: url(../../images/chat/rectangle-blue.svg);
    color: variables.$clr-white;
  }
  @extend .text;
  &__header {
    margin: 0 0 8px 0;
    font-size: variables.$fs-tiny;
    font-family: variables.$ff-primary;
  }
  &__message-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__text {
    max-width: 70%;
    margin: 0;
    flex-grow: 1;
    flex-wrap: wrap;

    @extend .cloud-box__header;
    font-weight: variables.$fw-400;
  }
  &__text-span {
    text-decoration: underline;
    cursor: pointer;
  }
  &__message-date {
    flex-grow: 0;

    @extend .cloud-box__text;
    font-size: 8px;
    min-width: 30%;
    text-align: end;
    color: variables.$clr-gray-3;

    &_your {
      min-width: 20%;
    }
  }
}
.cloud-box-viewed {
  @extend .cloud-box__message-date;
  text-align: start;
  position: absolute;
  bottom: -20px;
  left: 56px;
  max-width: 100%;

  &_your {
    text-align: end;
    bottom: -20px;
    right: 52px;
  }
}
.dialogues__input-button {
  min-width: 20px;
  min-height: 20px;
  object-fit: contain;
}
.dialogues__input-box {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 8px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 8px;

  background-color: variables.$clr-secondary-gray;
  border-radius: 5px;

  &_height-s {
    height: 48px;
  }
}
.field-input {
  padding: 0;
  outline: 0;
  appearance: none;

  height: 24px;
  max-width: 100%;
  position: relative;
  flex-grow: 1;

  &_bg-grey {
    background-color: variables.$clr-secondary-gray;
  }
  &::placeholder {
    @extend .general-grey-text;
  }
}

.user-info {
  width: 100%;
  max-width: 23%;
  min-height: 100%;
  box-sizing: border-box;
  padding-left: 40px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // &__info-panel {
  //   width: 100%;
  //   display: flex;
  //   flex-wrap: wrap;
  // }
  &__buttons-box {
    display: flex;
    width: 100%;
    position: relative;
  }
  &__button {
    margin-top: 32px;
    padding: 0;
    width: 50%;
    height: 35px;

    @extend .general-grey-text;
    font-weight: variables.$fw-600;
    border-bottom: solid 1px variables.$clr-secondary-cultured;
    color: variables.$clr-primary-gray;

    &_select {
      color: variables.$clr-primary-medium;
    }
  }
  &__select {
    height: 4px;
    width: 50%;
    background-color: variables.$clr-primary-medium;
    border-radius: 2px 2px 0 0;

    position: absolute;
    bottom: 0;
    right: 0px;
  }
}
.window-files-empty,
.window-user-info,
.window-files {
  max-height: 69%;
  min-width: 100%;
  padding-top: 32px;
}
.window-files-empty {
  text-align: center;
}
.window-user-info {
  &__btn {
    margin-bottom: 8px;
    padding: 8px 12px;
    min-width: 100%;
    height: 40px;
    border-radius: 5px;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: variables.$clr-gray;
    @extend .general-grey-text;
    color: variables.$clr-primary-dark;
    font-size: variables.$fs-small;
  }
  &__list {
    margin: 0;
    padding: 16px 0 0;
    list-style: none;

    @extend .general-grey-text;
    color: variables.$clr-primary-dark;
    font-weight: variables.$fw-600;
    font-size: variables.$fs-small;
  }
  &__list > li:last-child {
    margin-top: 12px;
  }
}
.window-files {
  display: flex;
  flex-wrap: wrap;
  &__headers {
    width: 80%;
    padding: 0 0 20px;
    @extend .text;
    font-size: variables.$fs-small;
  }
  &__btn-all {
    width: 20%;
    padding: 0 0 20px;
    @extend .text;
    font-size: variables.$fs-small;
    color: variables.$clr-primary-medium;
    text-align: end;
  }

  &__list {
    padding: 0 0 32px;
    width: 100%;
    list-style: none;
    @extend .text;
    font-size: variables.$fs-small;
  }
  &__list > li {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  &__list_img {
    display: flex;
    gap: 8px;
  }
}

///////////// модификаторы на исходники компаненты
.main {
  padding-top: 32px;
  display: flex;
  flex-direction: row;

  min-height: 750px;

  @media screen and (max-width: 768px) {
    padding: 82px 0 0 20px;
  }
}
.button-elem {
  min-width: 40px;
}

.icon-color {
  &:hover {
    cursor: pointer;
  }
  & > path,
  line {
    stroke: variables.$clr-gray-3;
  }
  &_size-small {
    min-width: 20px;
  }
}
.icon {
  cursor: pointer;
  &_size-small {
    width: 20px;
    height: 20px;
  }
}
.rotate-revers {
  rotate: 180deg;
}
.hidden {
  display: none;
}
