@use "../variables";
@use "../common";
@use "../ui-kit/ui_kit_buttons.scss";
@use "../registration/registration";

.page {
  @media screen and (max-width: 480px) {
    padding: 0;
  }
}

.header__title {
  margin-left: 10px;
  margin-right: 20px;
}

.outer-wrapper__title {
  margin-bottom: 30px;
}

.inner-wrapper_reset-password {
  padding: 50px 100px 60px;

  @media screen and (max-width: 620px) {
    padding: 50px 50px 60px;
  }
  @media screen and (max-width: 480px) {
    padding: 40px 20px 0;
  }
}

.outer-wrapper_reset-password {
  position: relative;
  height: 100%;
  padding: 0;
}

.form__submit_reset-password {
  margin: 50px 0 0 0;
}

.form__input-container_reset-password {
  display: block;
}

.form__input_reset-password {
  max-width: 570px;
  margin: 0 auto;
}

.inner-wrapper__img_reset-password {
  left: 50%; /* Положение картинки по горизонтали, в середине контейнера */
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;

  width: 320px;
  height: 266px;
}

.window_reset-password {
  height: 590px;
}

@media screen and (max-width: 838px) {
  .inner-wrapper_reset-password {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 480px) {
  .form__submit_reset-password {
    margin-top: 40px;
  }

  .outer-wrapper__title {
    display: none;
  }

  .inner-wrapper_reset-password {
    padding: 40px 20px 135px;
  }
}

@media screen and (max-width: 360px) {
  .window_reset-password {
    max-width: 360px;
    height: 485px;
  }

  .inner-wrapper__img_reset-password {
    width: 232px;
    height: 193px;
  }
}

@media screen and (max-width: 317px) {
  .form__submit_reset-password {
    padding: 20px 10px;
    white-space: nowrap;
  }
}
