// styles unique to index.html and ui-kit-navigation-page.html
@use "variables";
@use "common-styles";
@use "ui-kit/ui_kit_buttons";

.body {
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: variables.$ff-secondary;
}

.nav {
  margin-top: 20px;
  width: 100%;
  max-width: 579px;
}

.nav__list {
  padding: 0;
}

.nav__li {
  list-style-type: none; /* Убираем маркеры */
  margin-bottom: 20px;
}

.nav__link {
  text-decoration: none;
}
