@use "../variables";
@use "../common";
@use "../ui-kit/ui_kit_buttons.scss";

h1,
h2,
h3,
h4 {
  margin: 0;
}

.body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: variables.$ff-primary;
  font-size: variables.$fs-base;
  font-weight: variables.$fw-400;
  line-height: 1.5;
  background: linear-gradient(
    to bottom,
    variables.$clr-white 46.5%,
    variables.$clr-gray 0%
  );
  color: variables.$clr-primary-dark;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  padding: 40px 34px 0;

  @media screen and (max-width: 768px) {
    padding: 60px 34px 0 34px;
  }

  @media screen and (max-width: 480px) {
    padding: 20px 0 0 0;
  }
}

.header__logo {
  margin: 0 auto 20px;

  @media screen and (max-width: 768px) {
    margin: 0 auto 30px;
  }
  @media screen and (max-width: 480px) {
    margin: 0 auto 15px;
    width: 127.5px;
    height: 30px;
  }
}

.header__h2 {
  margin-bottom: 30px;
  font-family: variables.$ff-secondary;
  font-size: variables.$fs-h2;
  font-weight: variables.$fw-500;
  line-height: 1.1;

  @media screen and (max-width: 768px) {
    font-size: 32px;
    letter-spacing: -0.2px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.main {
  width: 100%;
}

.window {
  max-width: 770px;
  margin: 0 auto;
  width: 100%;
  color: variables.$clr-white;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);

  @media screen and (max-width: 682px) {
    height: 100%;
  }
}

.outer-wrapper {
  background-color: variables.$clr-primary-light;
  padding-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}

.outer-wrapper__h3 {
  text-align: center;
  margin-bottom: 15px;
  font-family: variables.$ff-secondary;
  font-size: 20px;
  font-weight: variables.$fw-600;
  line-height: 1.3;

  @media screen and (max-width: 768px) {
    letter-spacing: -0.2px;
  }
}

.inner-wrapper {
  background-color: variables.$clr-primary-medium;
  border-radius: 30px;
  padding: 60px 50px 43px;
  position: relative;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 670px;

  @media screen and (max-width: 682px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__input {
  border-bottom: 1px solid variables.$clr-low-opacity;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 100%;
  max-width: 325px;
  color: variables.$clr-white;
}

.form__submit {
  max-width: 260px;
  height: 64px;
  margin: 50px 0;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: variables.$clr-primary-dark;
}

input::placeholder {
  color: variables.$clr-low-opacity;
  font-family: variables.$ff-primary;
  font-size: variables.$fs-base;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

input[required] {
  background-image: url(../../images/asterisk.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

// -----------------------------------------------------------
.outer-wrapper__h3 {
  margin-bottom: 30px;
}

.inner-wrapper_resetPassword {
  padding: 50px 100px 60px;
}

.outer-wrapper_resetPassword {
  position: relative;
  padding: 0;
  height: 100%;
}

.form__submit_resetPassword {
  margin: 50px 0 0 0;
}

.form__input-container_resetPassword {
  display: block;
}

.form__input_resetPassword {
  max-width: 570px;
  margin: auto;
}

.inner-wrapper__img_resetPassword {
  left: 50%; /* Положение картинки по горизонтали, в середине контейнера */
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
}

.window_resetPassword {
  height: 590px;
}

@media screen and (max-width: 838px) {
  .inner-wrapper_resetPassword {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 768px) {
  .inner-wrapper_resetPassword {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 533px) {
  .page {
    padding: 0;
  }

  .outer-wrapper_resetPassword {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form__submit_resetPassword {
    margin-top: 40px;
  }

  .window_resetPassword {
    max-width: 360px;
    height: 485px;
  }

  .outer-wrapper__h3 {
    display: none;
  }

  .inner-wrapper__img_resetPassword {
    width: 232px;
    height: 193px;
  }

  .inner-wrapper_resetPassword {
    padding: 40px 20px 135px;
  }
}
