@use "../variables";
@use "../common";
@use "../ui-kit/ui_kit_buttons.scss";
@use "../registration/registration";

.header__h2 {
  text-align: center;
}

// -----------------------------------------------------------
.outer-wrapper__h3 {
  margin-bottom: 30px;
}

.inner-wrapper_resetPassword {
  padding: 50px 100px 60px;

  @media screen and (max-width: 620px) {
    padding: 50px 50px 60px;
  }
  @media screen and (max-width: 480px) {
    padding: 40px 20px 0;
  }
}

.outer-wrapper_resetPassword {
  position: relative;
  height: 100%;
  padding: 0;
}

.form__submit_resetPassword {
  margin: 50px 0 0 0;
}

.form__input-container_resetPassword {
  display: block;
}

.form__input_resetPassword {
  max-width: 570px;
  margin: 0 auto;
}

.inner-wrapper__img_resetPassword {
  left: 50%; /* Положение картинки по горизонтали, в середине контейнера */
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;

  width: 320px;
  height: 266px;
}

.window_resetPassword {
  height: 590px;
}

@media screen and (max-width: 838px) {
  .inner-wrapper_resetPassword {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 480px) {
  .form__submit_resetPassword {
    margin-top: 40px;
  }

  .outer-wrapper__h3 {
    display: none;
  }

  .inner-wrapper_resetPassword {
    padding: 40px 20px 135px;
  }
}

@media screen and (max-width: 360px) {
  .window_resetPassword {
    max-width: 360px;
    height: 485px;
  }

  .inner-wrapper__img_resetPassword {
    width: 232px;
    height: 193px;
  }
}

@media screen and (max-width: 317px) {
  .form__submit_resetPassword {
    padding: 20px 10px;
    white-space: nowrap;
  }
}
