:root {
  --clr-white: #FFF;
  --clr-gray: #F8F9FB;
  --clr-btn-gray: #eef0f3;
  --clr-btn-dark-gray: #ECEFFF;
  --clr-primary-dark: #060C23;
  --clr-primary-medium: #243CBB;
  --clr-primary-light: #2743CE;
  --clr-accent: #22FFAA;
  --clr-icon-hover: #435CDB;
  --clr-icon-background: #314DD8;
  --clr-validation-error: #FF5555;

  --clr-low-opacity: rgba(255, 255, 255, .6);
  --clr-disabled: #CCD4E0;

  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'IBM Plex Mono', monospace;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-small: 14px;
  --fs-base: 16px;
  --fs-button-text: 18px;
  --fs-h1: 64px;
  --fs-h2: 48px;
  --fs-h3: 20px;
}

.constructor {
margin: 370px 99px;
font-family: var(--ff-secondary);
font-weight: var(--fw-600);
font-size: 32px;
}

.container__linear {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-400);
  font-size: 12px;
  list-style-type: none;
  margin: 44px 0 0 0;
}
.container__linear-text-condition {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  align-items: center;
  gap: 70px;
}
.container__linear-phone-delete {
display: grid;
grid-template-columns: 144px 55px 0px;
align-items: center;
}

.constructor__button {
  background-color: var(--clr-btn-gray);
  border: 0;
  cursor: pointer;
}

.constructor-button-tab {
  width: 95px;
  height: 35px;
  border-radius: 5px;
  transition: 0.3s;
}

.constructor__button-content {
  background-image: url('../../../images/buttons-constructor/videoDefault.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 52px;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
}
.content-hover {
  background-image: url('../../../images/buttons-constructor/videoHover.svg');
}
.content-disabled{
  background-image: url('../../../images/buttons-constructor/videoDisabled.svg');
}

.constructor-button-addCondition {
  width: 264px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  padding: 0 0 0 12px;
}

.constructor__text-tab {
  font-family: var(--ff-primary);
  font-weight: var(--fw-600);
  font-size: 13px;
}
.tab-hover {
  color: var(--clr-primary-medium);
}
.btn-pressed{
  background-color: var(--clr-btn-dark-gray);
}

.constructor__text-condition {
  color: #8392AB;
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: 13px;
}
.condition-hover {
  color: var(--clr-primary-medium);
}
.btn-disabled{
  color: var(--clr-disabled);
}

.constructor__text {
  text-align: center;
  margin: 0;
}
