$clr-white: #fff;
$clr-black: #000;
$clr-gray: #f8f9fb;
$clr-primary-gray: #ccd4e0;
$clr-secondary-gray: #f2f4f8;
$clr-additional-gray: #c3d1d8;
$clr-gray-4: #8392ab;
$clr-gray-3: #a6b3c9;
$clr-gray-2: #bfc9d9;
$clr-secondary-focus: #e4e9f1;
$clr-primary-dark: #060c23;
$clr-primary-medium: #243cbb;
$clr-primary-light: #2743ce;
$clr-accent: #22ffaa;
$clr-accent-press: #85ffd0;
$clr-accent-focus: #70ffc8;
$clr-icon-hover: #435cdb;
$clr-icon-background: #314dd8;
$clr-validation-error: #ff5555;
$clr-error-default: #ff5656;
$clr-xiketic-press: #2e293d;
$clr-secondary-cultured: #d7deea;
$clr-blue: #2d88ff;
$clr-blue-disabled: #ecefff;
$clr-xiketic-default: #131118;
$clr-success: #00e98f;

$clr-low-opacity: rgba(255, 255, 255, 0.6);

$ff-primary: "Open Sans", sans-serif;
$ff-secondary: "IBM Plex Mono", monospace;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$fs-tiny: 10px;
$fs-small: 14px;
$fs-base: 16px;
$fs-button-text: 18px;
$fs-h1: 64px;
$fs-h2: 48px;
$fs-h3: 20px;
