@use "variables";
@use "common";

.header {
  display: flex;
  flex-direction: column;
}

.header__h2_type_login {
  padding-left: 20px;
  padding-top: 10px;
}

.outer-wrapper_type_login {
  padding-top: 0;
  padding-bottom: 60px;
}

.inner-wrapper_type_login {
  padding: 60px 50px 0;
}
.login-form__input-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  width: 100%;
}
.form__field_size_l {
  width: 100%;
  max-width: 572px;
}
.form__input_size_l {
  max-width: none;
}

.passw-recovery {
  margin: 0 auto;
  list-style-type: none;
  padding-top: 21px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.passw-recovery__link {
  color: variables.$clr-white;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  letter-spacing: 0.3px;
  text-decoration-line: underline;
}
.form__submit_size_m {
  width: 260px;
  margin: 50px 0 15px;
}
.separator_type_login {
  margin: 10px auto 55px;
}
