@use "variables";
@use "common";

.header {
  display: flex;
  flex-direction: column;
}

.header__h2_type_login {
  padding-left: 20px;
  padding-top: 10px;
}

.form_type_login {
}

.passw-recovery {
  margin: 0 auto;
  list-style-type: none;
  padding-top: 41px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.passw-recovery__link {
  color: variables.$clr-white;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  letter-spacing: 0.3px;
  text-decoration-line: underline;
}
.form__submit_size_m {
  width: 260px;
}
