@use "variables";
@use "common";
// styles unique to index.html and ui-kit-navigation-page.html

.body {
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: variables.$ff-secondary;
}

.nav {
  margin-top: 20px;
}

.nav__list {
  padding: 0;
}

.nav__li {
  list-style-type: none; /* Убираем маркеры */
  margin-bottom: 20px;
}

.nav__link {
  text-decoration: none;
}

.button-tutorial {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 579px;
  padding: 27px 206px;
  height: 76px;
  border: 2px solid variables.$clr-secondary-focus;
  border-radius: 10px;
  background-color: variables.$clr-white;
  background-image: url("../images/button-tutorial_ellipse_grey.svg");
  background-repeat: no-repeat;
  &__icon {
    width: 65px;
    height: 46px;
    position: absolute;
    top: 17px;
    left: 32px;
  }
  &__text {
    font-family: variables.$ff-primary;
    color: variables.$clr-primary-dark;
    font-size: variables.$fs-small;
    font-weight: variables.$fw-600;
    line-height: 21px;
    letter-spacing: 0.3px;
  }
  &:hover {
    border: none;
    background-image: url("../images/button-tutorial_ellipse_green.svg");
    box-shadow: 0 6px 16px 0 rgba(21, 18, 51, 0.08);
    cursor: pointer;
    & .button-tutorial__icon {
      filter: grayscale(0) sepia(1) hue-rotate(100deg) saturate(3);
    }
  }
}
