.button__text {
  padding: 0;
  margin: 0;
  max-width: 0;
  display: block;
  color: var(--clr-primary-dark);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  transition: opacity .3s ease-in-out, max-width .3s ease-in-out;

}

.button:focus .button__text {
  color: var(--clr-primary-medium);
  font-weight: var(--fw-600);
}

.menu__container:hover .button__text {
  opacity: 1;
  max-width: 200px;
}

