@use "../variables";
@use "../common";
@use "../ui-kit/ui_kit_navigation.scss";
@use "../ui-kit/ui_kit_buttons.scss";

*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img,
svg {
  height: auto;
  display: block;
}

.body {
  margin: 0;
  position: relative;
  height: 100%;
  font-family: variables.$ff-primary;
  font-size: variables.$fs-base;
  font-weight: variables.$fw-400;
  line-height: 1.5;
  font-style: normal;
  color: variables.$clr-primary-dark;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.main {
  max-width: 1308px;
  padding: 32px 63px 0 132px;
  flex: 1 1 auto;
}

.menu {
  position: absolute;
}

.ui-kit-navigation {
  margin-left: 132px;
}

.ui-kit-footer {
  margin-left: 132px;
}

.main {
  padding: 0 63px 0 132px;
  display: flex;
  justify-content: space-between;
}
