@use "../variables";
@use "../common";
@use "../ui-kit/ui_kit_navigation.scss";
@use "../ui-kit/ui_kit_buttons.scss";
@use "../ui-kit/ui_kit_fields.scss";

.user-info {
  max-width: 23%;
  box-sizing: border-box;
  padding-left: 20px;
}
.text {
  margin: 0;
  color: variables.$clr-primary-dark;
  font-family: variables.$ff-primary;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-style: normal;
  font-weight: variables.$fw-600;
}
.general-grey-text {
  @extend .text;
  font-size: variables.$fs-small;
  font-weight: variables.$fw-400;
  color: variables.$clr-gray-3;
}

.section-header {
  margin-bottom: 24px;
  @extend .text;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.2px;
  font-family: variables.$ff-secondary;
}

///////////// dialogues
.dialogues {
  width: 25.5%;
  box-sizing: border-box;
  padding-right: 20px;

  &__input {
    height: 40px;
    width: 100%;
    outline-style: none;
    background-color: variables.$clr-secondary-gray;
  }
}
.dialogues-box {
  height: 80px;
  padding: 16px 0;
  box-sizing: border-box;
  border-bottom: solid 1px variables.$clr-secondary-cultured;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  &:last-child {
    border: 0px;
  }
  &__avatar {
    height: 40px;
    aspect-ratio: 1/1;
    position: relative;
  }
  &__point {
    height: 8px;
    width: 8px;

    background-color: variables.$clr-accent;
    border: solid 2px variables.$clr-white;
    border-radius: 50%;

    position: absolute;
    top: 30px;
    left: 30px;
  }
  &__container {
    margin: 0 0 0 16px;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__user {
    width: 60%;
    @extend .text;
    font-size: variables.$fs-base;
    font-weight: variables.$fw-500;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__time {
  }
  &__text {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__count-message {
    @extend .text;

    padding-top: 4px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: variables.$clr-primary-medium;

    color: variables.$clr-white;
    text-align: center;
    font-size: variables.$fs-tiny;
    font-family: variables.$ff-primary;
  }
  &__selector {
    height: 100%;
    width: 4px;
    background-color: variables.$clr-primary-medium;
    border-radius: 2px 0 0 2px;

    position: absolute;
    top: 0;
    right: -20px;
  }
}

///////////////////////////////////////////// chat
.chat {
  width: 51.5%;
  box-sizing: border-box;
  padding: 0 32px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: solid 1px variables.$clr-secondary-cultured;
  border-right: solid 1px variables.$clr-secondary-cultured;

  &__header-box {
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__icons-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  &__dialogue-window {
    flex-grow: 1;
  }
  &__dialogue-cloud {
    margin-top: 32px;
    position: relative;
    display: flex;
    align-items: flex-end;

    &_your {
      flex-direction: row-reverse;
    }
  }
  &__buttom-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
  &__input-box {
    display: inline-block;
    padding: 14px 12px 14px 16px;
    height: 48px;
    background-color: variables.$clr-gray;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    flex-grow: 1;
  }
  &__input-button {
    // max-width: 20px;
    // max-height: 20px;
    margin-left: 8px;
  }
}
.user-name {
  margin: 0 0 0 19px;
  flex-grow: 1;

  @extend .text;
  font-size: variables.$fs-base;
  font-weight: variables.$fw-500;
  font-family: variables.$ff-secondary;

  &_user-info {
    margin: 0;
  }
}
.user-avatar {
  min-width: 40px;
  min-height: 40px;
  position: relative;

  &__img {
    &_user-info {
      margin-top: 40px;

      width: 60px;
      height: 60px;
    }
  }
  &__point {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -4px;
    left: -4px;

    border-radius: 50%;
    background-color: variables.$clr-primary-medium;
  }
  &__point-img {
    filter: invert(100%) grayscale(100%) brightness(3);
    width: 12px;
    margin: 2px 3px 4px 3px;
    object-position: 50% 50%;
  }
}
.time-border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__line {
    height: 1px;
    width: 35%;
    background-color: variables.$clr-secondary-cultured;
  }
  &__date {
  }
}

.cloud-box {
  margin: 0 12px 0 16px;
  padding: 16px;
  width: 232px;
  border-radius: 10px 10px 10px 0;
  background-position: right;
  background-image: url(../../images/chat/rectangle-grey.svg);
  background-size: cover;
  // background-color: variables.$clr-gray;

  &_your {
    width: 310px;
    border-radius: 10px 10px 0 10px;
    background-position: left;
    background-image: url(../../images/chat/rectangle-blue.svg);
    color: variables.$clr-white;
  }
  @extend .text;
  &__header {
    margin: 0 0 8px 0;
    font-size: variables.$fs-tiny;
    font-family: variables.$ff-primary;
  }
  &__message-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__text {
    margin: 0;
    flex-grow: 1;
    flex-wrap: wrap;

    @extend .cloud-box__header;
    font-weight: variables.$fw-400;
  }
  &__message-date {
    flex-grow: 0;

    @extend .cloud-box__text;
    font-size: 8px;
    min-width: 30%;
    text-align: end;
    color: variables.$clr-gray-3;

    &_your {
      min-width: 20%;
    }
  }
  &__message-viewed {
    @extend .cloud-box__message-date;
    text-align: start;
    position: absolute;
    bottom: -20px;
    left: 56px;

    &_your {
      text-align: end;
      bottom: -20px;
      right: 52px;
    }
  }
}
.dialogues__input-button {
  min-width: 20px;
  min-height: 20px;
  object-fit: contain;
}
.dialogues__input-box {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 8px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  background-color: variables.$clr-secondary-gray;
  border-radius: 5px;

  &_height-48 {
    height: 48px;
  }
}
.field__input {
  position: relative;
  height: 24px;
  max-width: 100%;
}
//////////////
.user-info {
  width: 100%;
  &__window {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

///////////// модификаторы на исходники компаненты
.main {
  padding-top: 32px;
  display: flex;
  flex-direction: row;

  min-height: 750px;
}
.button-elem {
  min-width: 40px;
}
.field__input {
  background-color: variables.$clr-gray;
}

.icon-color {
  &:hover {
    cursor: pointer;
  }
  & > path,
  line {
    stroke: variables.$clr-gray-3;
  }
  &_size20x20 {
    min-width: 20px;
  }
}

.hidden {
  display: none;
}
.field__input {
  padding: 0;
  outline: 0;
  appearance: none;
}
