@use "../variables";
@use "../common";
@use "../ui-kit/ui_kit_navigation.scss";
@use "../ui-kit/ui_kit_buttons.scss";

.dialogues {
  width: 25.5%;
  box-sizing: border-box;
  padding-right: 20px;
}
.chat {
  width: 51.5%;
  box-sizing: border-box;
  padding: 0 32px 0;
  border-left: solid 1px variables.$clr-secondary-cultured;
  border-right: solid 1px variables.$clr-secondary-cultured;
}
.user-info {
  width: 23%;
  box-sizing: border-box;
  padding-left: 20px;
}
.text {
  margin: 0;
  color: variables.$clr-primary-dark;
  font-family: variables.$ff-primary;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-style: normal;
  font-weight: variables.$fw-600;
}

.section-header {
  margin-bottom: 24px;
  @extend .text;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.2px;
  font-family: variables.$ff-secondary;
}
.dialogues__input {
  height: 40px;
  width: 100%;
  outline-style: none;
  background-color: variables.$clr-secondary-gray;
}
///////////// chat
.chat-box {
  height: 80px;
  padding: 16px 0;
  box-sizing: border-box;
  border-bottom: solid 1px variables.$clr-secondary-cultured;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  &:last-child {
    border: 0px;
  }
  &__avatar {
    height: 40px;
    aspect-ratio: 1/1;
    position: relative;
  }
  &__point {
    height: 8px;
    width: 8px;

    background-color: variables.$clr-accent;
    border: solid 2px variables.$clr-white;
    border-radius: 50%;

    position: absolute;
    top: 30px;
    left: 30px;
  }
  &__container {
    margin: 0 0 0 16px;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__user {
    width: 60%;
    @extend .text;
    font-size: variables.$fs-base;
    font-weight: variables.$fw-500;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__time {
    @extend .text;
    color: variables.$clr-gray-3;
    font-size: variables.$fs-small;
    font-family: variables.$ff-primary;
    font-weight: variables.$fw-400;
  }
  &__text {
    width: 80%;
    @extend .chat-box__time;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__count-message {
    @extend .text;

    padding-top: 4px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: variables.$clr-primary-medium;

    color: variables.$clr-white;
    text-align: center;
    font-size: variables.$fs-tiny;
    font-family: variables.$ff-primary;
  }
  &__selector {
    height: 100%;
    width: 4px;
    background-color: variables.$clr-primary-medium;
    border-radius: 2px 0 0 2px;

    position: absolute;
    top: 0;
    right: -20px;
  }
}

///////////////////////////////////////////// chat
.chat {
  &__header-box {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__icons-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}
.user-name {
  margin: 0 0 0 19px;
  flex-grow: 1;

  @extend .text;
  font-size: variables.$fs-base;
  font-weight: variables.$fw-500;
}
.user-avatar {
  width: 40px;
  height: 40px;
  position: relative;

  &__img {
  }
  &__point {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -4px;
    left: -4px;

    border-radius: 50%;
    background-color: variables.$clr-primary-medium;
  }
  &__point-img {
    filter: invert(100%) grayscale(100%) brightness(3);
    width: 12px;
    margin: 2px 3px 4px 3px;
    object-position: 50% 50%;
  }
}
.dialogue-cloud {
}

.cloud-box {
  &__corner {
  }
  &__cloud {
    box-sizing: content-box;
    background-color: variables.$clr-gray;
  }
}

///////////// модификаторы на исходники компаненты
.main {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}
