.button_theme_gray {
  padding: 0 4px;
  background-color: transparent;
  color: var(--clr-primary-dark);
  border-radius: 50px;
  width: 100%;
  justify-content: flex-start;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-400);
  font-size: var(--fs-base);
}

.button_theme_gray:hover {
  background-color: var(--clr-secondary-gray);
}

.button_theme_gray:active {
  background-color: transparent;
}

